# Define the credentials for your Pusher application
auth:
    app_id:
    key:
    secret:

# Define the Pusher cluster it should use.
# Options:
# - mt1 (United States us-east-1) Default
# - eu (Europe eu-west-1)
# - ap1 (Asia ap-southeast-1)
cluster: mt1

# Define if the Pusher API should be called encrypted (https) or not.
# Set to 'false' if you encounter problems, e.g. events won't be sent.
encrypted: true

# Define your contenttypes and what events should be pushed.
# You only need to define the contenttypes you want to use with Pusher.
events:
    pages:
        created: true
        updated: false
        deleted: false
    entries:
        created: true
        updated: false
        deleted: false
